@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import url('https://fonts.bunny.net/css?family=inter:400,500,600,700');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.ts';
@source '../**/*.tsx';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans: 'Manrope', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-display: 'Space Grotesk', 'Manrope', ui-sans-serif, system-ui, sans-serif;
    --font-brand: 'Inter', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;
}
